compiled/
bin/
gen/
build/
compiled/
project.properties
local.properties
ActionBarSherlock/bin/
ActionBarSherlock/gen/
/app/build
/out/
/gradle/caches
/gradle/daemon
/.idea/
/libraries/**/*.iml
/app/*.iml
*.iml

.gradle
.classpath
.settings
ActionBarSherlock/.classpath

.DS_Store
.AppleDouble
.LSOverride
Icon

# Ignores for network lib by Ars
/libraries/vqw_android_networking_library/
/libraries/vqw_android_authentication
/libraries/network-request-loaders
/libraries/vqw_android_styles/
/settings_lib.gradle
/app/build_app.gradle

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

gag-libraries

*.log

*.ep

*.li

*.trace
